/* static/css/style.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    overflow: hidden; /* Evita barras de rolagem no corpo da página */
}

#sidebar {
    width: 320px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 15px;
    overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
    display: flex;
    flex-direction: column;
}

#sidebar img {
    display: block;
    margin: 0 auto 15px auto;
}

#sidebar h2 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

.filter-group {
    margin-bottom: 20px;
}

#sidebar label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

#sidebar select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#map-container {
    flex-grow: 1; /* Ocupa o resto do espaço */
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}
